@model Noitcua.Models.utilizador
@*@model Noitcua.Models.utilizador*@
@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .profile-container {
            width: 300px;
            padding: 20px;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            margin: 20px;
        }

        .profile-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .profile-info {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <!--@*
    <div class="profile-container">
        <div class="profile-label">Email:</div>
        <div class="profile-info">@Model.Email</div>

        <div class="profile-label">Handler:</div>
        <div class="profile-info">@Model.Handler</div>
    </div>

        <div class="profile-container">
        <div class="profile-label">Email:</div>
        <div class="profile-info">@Model.Email</div>

        <div class="profile-label">Handler:</div>
        <div class="profile-info">@Model.Handler</div>
    </div>

    <div class="options-container">
        <div class="option-link">
            <a href="@Url.Action("TuasSalas", "Usuario")">Tuas Salas</a>
        </div>

        <div class="option-link">
            <a href="@Url.Action("HistoricoCompras", "Usuario")">Histórico</a>
        </div>
    </div>> *@-->

</body>
</html>